.u-section-1 {
  min-height: 500px;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 69px calc(((100% - 1140px) / 2) + 145px) 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 139px;
  height: 301px;
  margin: -130px auto 0 calc(((100% - 1140px) / 2) + 173px);
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 12.5rem;
  margin: -320px calc(((100% - 1140px) / 2) + 223px) 0;
}

.u-section-1 .u-shape-3 {
  width: 250px;
  height: 94px;
  margin: 76px calc(((100% - 1140px) / 2) + -148px) 0 auto;
}

.u-section-1 .u-shape-4 {
  width: calc(((100% - 1140px) / 2) + 170px);
  height: 78px;
  margin: -489px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 145px);
  }

  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2) + 173px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 184px);
    margin-left: calc(((100% - 940px) / 2) + 184px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 940px) / 2) + -148px);
  }

  .u-section-1 .u-shape-4 {
    width: calc(((100% - 940px) / 2) + 170px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 145px);
  }

  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2) + 173px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 141px);
    margin-left: calc(((100% - 720px) / 2) + 141px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2) + -148px);
  }

  .u-section-1 .u-shape-4 {
    width: calc(((100% - 720px) / 2) + 170px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 145px);
  }

  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 540px) / 2) + 173px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 106px);
    margin-left: calc(((100% - 540px) / 2) + 106px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 540px) / 2) + -148px);
  }

  .u-section-1 .u-shape-4 {
    width: calc(((100% - 540px) / 2) + 170px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 340px) / 2) + 90px);
  }

  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 340px) / 2) + 173px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 340px) / 2) + 67px);
    margin-left: calc(((100% - 340px) / 2) + 67px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 340px) / 2) + -148px);
  }

  .u-section-1 .u-shape-4 {
    width: calc(((100% - 340px) / 2) + 170px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 168px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: 40px auto 40px 92px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 28px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 806px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: 153px 602px 0 250px;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 78px;
  margin: -103px -187px 0 auto;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  animation-duration: 1000ms;
  margin: 55px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 78px;
  margin: 65px auto 0 -168px;
}

.u-section-3 .u-text-3 {
  width: 640px;
  margin: -143px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 680px;
    margin-left: 150px;
    margin-right: 502px;
  }

  .u-section-3 .u-text-3 {
    width: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 40px;
    margin-right: 392px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 252px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -43px;
  }

  .u-section-3 .u-video-1 {
    height: 300px;
    margin-top: 657px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -465px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
    margin-top: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 388px;
    margin-right: 52px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 6px;
  }

  .u-section-3 .u-video-1 {
    height: 190px;
    margin-top: 737px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: -10px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -389px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
    margin-top: 311px;
    margin-bottom: 0;
  }
}.u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 691px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 1px auto 1px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 689px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: 99px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-shape-1 {
  width: 11px;
  height: 557px;
  margin: -517px -31px 0 auto;
}

.u-section-4 .u-image-1 {
  min-height: 689px;
  pointer-events: auto;
  background-image: url("images/JeanLassal_GIF_final.gif");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-4 .u-image-1 {
    min-height: 568px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 435px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2079px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 653px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1637px;
  }

  .u-section-4 .u-image-1 {
    min-height: 411px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 810px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: 96px auto 0 250px;
}

.u-section-5 .u-video-1 {
  height: 360px;
  width: 640px;
  animation-duration: 1000ms;
  margin: 30px auto 0 250px;
}

.u-section-5 .u-shape-1 {
  width: 250px;
  height: 78px;
  margin: -341px auto 0 -168px;
}

.u-section-5 .u-text-2 {
  margin: 285px 250px 0;
}

.u-section-5 .u-shape-2 {
  width: 250px;
  height: 78px;
  margin: -83px -157px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 318px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 206px;
  }

  .u-section-5 .u-video-1 {
    margin-left: 206px;
  }

  .u-section-5 .u-text-2 {
    width: 640px;
    margin-left: 206px;
    margin-right: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 158px;
  }

  .u-section-5 .u-video-1 {
    margin-left: 158px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 158px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 119px;
  }

  .u-section-5 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-left: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 75px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-left: 75px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 839px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 46px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: -411px 321px 0 619px;
}

.u-section-6 .u-text-2 {
  margin: 30px 65px 0 619px;
}

.u-section-6 .u-shape-1 {
  width: 11px;
  height: 557px;
  margin: -403px 539px 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 2.3125rem;
  line-height: 1.2;
  font-weight: 500;
  margin: 101px 299px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 134px;
  }

  .u-section-6 .u-text-1 {
    width: 200px;
    height: 44px;
    margin-top: -414px;
    margin-right: 236px;
    margin-left: 519px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 519px;
  }

  .u-section-6 .u-shape-1 {
    margin-right: 504px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 100px;
    margin-right: 246px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 230px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 181px;
    margin-left: 409px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 409px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: 309px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -384px;
    margin-right: 136px;
    margin-left: 319px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 319px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 141px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 397px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -184px;
    margin-right: 86px;
    margin-left: 140px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 140px;
  }

  .u-section-6 .u-shape-1 {
    margin-right: 329px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 24px;
    margin-right: 89px;
  }
}