.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 347px -80px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 228px;
  margin: -348px auto 0 204px;
}

.u-section-1 .u-shape-2 {
  width: 366px;
  height: 356px;
  margin: -379px 0 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 250px;
  height: 116px;
  margin: -236px auto 0 235px;
}

.u-section-1 .u-shape-4 {
  width: 250px;
  height: 156px;
  margin: 109px auto 0 -33px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 12.5rem;
  margin: -331px 327px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: -66px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 227px;
    margin-right: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: -821px;
    margin-left: 770px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -85px;
    margin-left: 150px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -259px;
    margin-right: auto;
    margin-left: -465px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -356px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 117px;
    margin-right: 117px;
    margin-bottom: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: -33px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-right: -416px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -49px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    width: auto;
    margin: -102px 27px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -403px;
    margin-left: 403px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: -416px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -451px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 46px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -232px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 908px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: 36px 397px 0 80px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: 121px 10px 0 622px;
}

.u-section-2 .u-gallery-1 {
  width: 570px;
  height: 668px;
  margin: -129px auto 0 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-shape-1 {
  width: 11px;
  height: 557px;
  margin: -668px 542px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: -414px 10px 60px 622px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 95px;
    margin-right: -68px;
    margin-left: 500px;
  }

  .u-section-2 .u-gallery-1 {
    width: 470px;
    height: 538px;
    margin-top: -44px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -573px;
    margin-right: -79px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: -459px 32px 19px 500px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1271px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
    margin-right: 57px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: 176px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -291px;
    margin-right: -83px;
  }

  .u-section-2 .u-text-3 {
    margin: -244px 0 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-right: auto;
    margin-left: -132px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-gallery-1 {
    height: 376px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    margin-left: -200px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 736px;
}

.u-section-3 .u-gallery-1 {
  width: 570px;
  height: 668px;
  margin: 29px 0 0 auto;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-shape-1 {
  width: 11px;
  height: 557px;
  margin: -668px auto 0 545px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: -456px 601px 0 31px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 14px 601px 60px 31px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-gallery-1 {
    width: 470px;
    height: 591px;
    margin-top: 91px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -596px;
    margin-right: -61px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -525px;
    margin-right: 522px;
    margin-left: -90px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 505px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 90px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -632px;
    margin-right: -121px;
  }

  .u-section-3 .u-text-1 {
    width: 398px;
    margin-top: -583px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 637px;
    margin-right: 0;
    margin-bottom: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -546px;
    margin-right: auto;
    margin-left: -101px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -660px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 635px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-3 .u-gallery-1 {
    height: 426px;
    margin-top: 89px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -515px;
    margin-left: -111px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -537px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 481px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: 167px 27px 0 605px;
}

.u-section-4 .u-shape-1 {
  width: 11px;
  height: 557px;
  margin: -140px 559px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: -402px 27px 0 605px;
}

.u-section-4 .u-image-1 {
  width: 494px;
  height: 699px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.45);
  margin: -526px auto 21px 47px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-right: 0;
    margin-left: 432px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -143px;
    margin-right: -102px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -399px;
    margin-right: 0;
    margin-left: 432px;
  }

  .u-section-4 .u-image-1 {
    width: 417px;
    height: 590px;
    margin-top: -498px;
    margin-bottom: -131px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-4 .u-text-1 {
    width: 508px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -150px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    margin-left: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 481px;
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 117px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 520px;
  margin: 30px auto;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
}