.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 347px -80px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 228px;
  margin: -348px auto 0 204px;
}

.u-section-1 .u-shape-2 {
  width: 366px;
  height: 356px;
  margin: -379px 0 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 250px;
  height: 116px;
  margin: -236px auto 0 235px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 12.5rem;
  margin: -66px auto 0;
}

.u-section-1 .u-shape-4 {
  width: 250px;
  height: 156px;
  margin: 15px auto 0 -33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: -66px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 603px;
    margin-right: -51px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -635px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 778px;
    margin-right: auto;
    margin-left: -33px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: -523px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 112px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: -268px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: -224px;
    margin-right: -420px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -236px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 6rem;
    margin-top: -179px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -271px;
    margin-bottom: 60px;
    margin-left: -50px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 908px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: 20px 397px 0 80px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: 137px 20px 0 612px;
}

.u-section-2 .u-gallery-1 {
  width: 570px;
  height: 668px;
  margin: -129px auto 0 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-shape-1 {
  width: 11px;
  height: 557px;
  margin: -668px 542px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -414px 20px 60px 612px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 432px;
    height: 44px;
  }

  .u-section-2 .u-gallery-1 {
    width: 470px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 432px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -537px;
    margin-right: -100px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -625px;
    margin-right: 519px;
    margin-left: 13px;
    height: 325px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1567px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 21px;
    margin-right: 57px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -33px;
    margin-left: 245px;
  }

  .u-section-2 .u-gallery-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -570px;
    margin-right: -83px;
  }

  .u-section-2 .u-text-3 {
    width: 508px;
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    height: 88px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 155px;
  }

  .u-section-2 .u-gallery-1 {
    margin-right: -33px;
    margin-left: 155px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 20px;
    margin-right: -33px;
    margin-left: 155px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: -33px;
    margin-left: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1749px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 117px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -479px;
    margin-right: auto;
    margin-left: -200px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -24px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1011px;
}

.u-section-3 .u-gallery-1 {
  width: 570px;
  height: 668px;
  margin: 103px 0 0 auto;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-shape-1 {
  width: 11px;
  height: 557px;
  margin: -668px auto 0 545px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: -456px 601px 0 31px;
}

.u-section-3 .u-text-2 {
  margin: 14px 601px 0 31px;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  font-size: 1.875rem;
  width: 289px;
  margin: 263px auto 38px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    width: 470px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 432px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 432px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 531px;
    margin-bottom: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 212px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 212px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    margin-left: 529px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 32px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    width: 340px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 329px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 406px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 499px;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 400px;
  margin: 99px auto 0 35px;
}

.u-section-4 .u-form-1 {
  width: 570px;
  margin: -440px auto 0;
}

.u-section-4 .u-form-group-1 {
  width: 100%;
}

.u-section-4 .u-input-1 {
  background-image: none;
}

.u-section-4 .u-form-group-2 {
  width: 100%;
}

.u-section-4 .u-input-2 {
  background-image: none;
}

.u-section-4 .u-form-group-3 {
  width: 100%;
}

.u-section-4 .u-input-3 {
  background-image: none;
}

.u-section-4 .u-form-group-4 {
  width: 100%;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: -377px 570px 0 300px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 870px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 870px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 15px 206px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-top: 168px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 470px;
    margin-left: 247px;
  }

  .u-section-4 .u-icon-3 {
    margin-right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 360px;
    margin-left: 189px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 656px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 656px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 270px;
    margin-left: 142px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 476px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 476px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 70px;
    margin-left: 89px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 8px;
    margin-right: -130px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-2 {
    margin-right: -137px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-3 {
    margin-right: -137px;
  }
}