.u-section-1 .u-sheet-1 {
  min-height: 182px;
}

.u-section-1 .u-icon-1 {
  height: 19px;
  width: 19px;
  margin: 9px auto 0 -54px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -20px 1079px 0 -29px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  line-height: 1.2;
  margin: 73px 828px 36px 92px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-left: -44px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -21px;
    margin-right: 849px;
    margin-left: -19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 593px;
    margin-bottom: 37px;
    margin-left: 76px;
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 619px;
    margin-left: -22px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 480px;
    margin-bottom: 3px;
    margin-left: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 449px;
    margin-left: -16px;
  }

  .u-section-1 .u-text-2 {
    margin: 39px 320px 4px 44px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 113px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 227px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin: 28px 69px 12px 28px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 752px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 20px 94px 0;
}

.u-section-2 .u-image-1 {
  width: 473px;
  height: 353px;
  object-position: 50% 0%;
  margin: 41px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -353px 0 41px 505px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 113px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1354px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 254px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 642px;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: 156px 672px 0 60px;
}

.u-section-3 .u-image-1 {
  width: 428px;
  height: 569px;
  margin: -423px 122px 40px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 491px;
    margin-left: 53px;
  }

  .u-section-3 .u-image-1 {
    width: 382px;
    height: 508px;
    margin-top: -416px;
    margin-right: 46px;
    margin-bottom: -67px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 802px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-1 {
    width: 322px;
    height: 428px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 570px;
}

.u-section-4 .u-text-1 {
  margin: 110px 0 0 641px;
}

.u-section-4 .u-video-1 {
  width: 610px;
  height: 428px;
  margin: -389px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-left: 550px;
    font-size: 1rem;
  }

  .u-section-4 .u-video-1 {
    width: 538px;
    height: 386px;
    margin-top: -405px;
    margin-bottom: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-video-1 {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-video-1 {
    margin: 20px 0 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-video-1 {
    margin-top: -70px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 891px;
}

.u-section-5 .u-gallery-1 {
  height: 816px;
  margin-top: 60px;
  margin-bottom: 15px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 24px 24px;
  grid-template-columns: auto auto;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-5 .u-gallery-1 {
    height: 673px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2137px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2062px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2294px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1547px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-5 .u-gallery-1 {
    height: 974px;
    margin-bottom: 20px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 834px;
}

.u-section-6 .u-gallery-1 {
  height: 816px;
  margin-top: 4px;
  margin-bottom: 15px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-gap: 24px 24px;
  grid-template-columns: auto auto;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-6 .u-gallery-1 {
    height: 673px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2080px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2062px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2294px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1547px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-6 .u-gallery-1 {
    height: 974px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 835px;
}

.u-section-7 .u-gallery-1 {
  height: 816px;
  margin-top: 4px;
  margin-bottom: 15px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-gap: 24px 24px;
  grid-template-columns: auto auto;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-7 .u-gallery-1 {
    height: 673px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2081px;
  }

  .u-section-7 .u-gallery-1 {
    height: 2062px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2294px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1547px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-7 .u-gallery-1 {
    height: 974px;
    margin-bottom: 20px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 834px;
}

.u-section-8 .u-gallery-1 {
  height: 816px;
  margin-top: 4px;
  margin-bottom: 15px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-gap: 24px 24px;
  grid-template-columns: auto auto;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-8 .u-gallery-1 {
    height: 673px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2080px;
  }

  .u-section-8 .u-gallery-1 {
    height: 2062px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2294px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1547px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-8 .u-gallery-1 {
    height: 974px;
  }
}