.u-section-1 .u-sheet-1 {
  min-height: 182px;
}

.u-section-1 .u-icon-1 {
  height: 19px;
  width: 19px;
  margin: 9px auto 0 -54px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -20px 1079px 0 -29px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: 73px 894px 36px 92px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-left: -44px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -21px;
    margin-right: 849px;
    margin-left: -19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 673px;
    margin-left: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 619px;
    margin-left: -22px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 480px;
    margin-left: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 529px;
    margin-left: -16px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 386px;
    margin-left: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 227px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 149px;
    margin-bottom: 4px;
    margin-left: 28px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1182px;
}

.u-section-2 .u-text-1 {
  margin: 89px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 978px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  width: 1073px;
  margin: 30px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 21px 21px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-9 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-image-9 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-10 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-image-10 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-11 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-image-11 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-12 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-image-12 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-2 .u-gallery-1 {
    height: 857px;
    width: 940px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1681px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1477px;
    grid-template-columns: repeat(2, auto);
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4635px;
  }

  .u-section-2 .u-gallery-1 {
    height: 4431px;
    grid-template-columns: repeat(1, auto);
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2994px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2790px;
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 499px;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 400px;
  margin: 99px auto 0 35px;
}

.u-section-3 .u-form-1 {
  width: 570px;
  margin: -440px auto 0;
}

.u-section-3 .u-form-group-1 {
  width: 100%;
}

.u-section-3 .u-input-1 {
  background-image: none;
}

.u-section-3 .u-form-group-2 {
  width: 100%;
}

.u-section-3 .u-input-2 {
  background-image: none;
}

.u-section-3 .u-form-group-3 {
  width: 100%;
}

.u-section-3 .u-input-3 {
  background-image: none;
}

.u-section-3 .u-form-group-4 {
  width: 100%;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  margin: -377px 570px 0 300px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 870px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 870px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 15px 206px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-top: 168px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -427px;
    margin-right: 470px;
    margin-left: 200px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 65px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 18px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 45px;
  }

  .u-section-3 .u-form-1 {
    height: 344px;
    margin-top: -372px;
    margin-right: 84px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -403px;
    margin-right: 391px;
    margin-left: 66px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 40px;
    margin-left: 656px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 656px;
  }

  .u-section-3 .u-icon-3 {
    margin-bottom: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 476px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 476px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-3 .u-form-1 {
    margin-top: -323px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -388px;
    margin-right: 60px;
    margin-left: 15px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 344px;
    margin-left: 44px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -64px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -64px;
    margin-right: 44px;
    margin-bottom: 28px;
  }
}