.u-section-1 .u-sheet-1 {
  min-height: 184px;
}

.u-section-1 .u-icon-1 {
  height: 19px;
  width: 19px;
  margin: 0 auto 0 -54px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -20px 1079px 0 -29px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2;
  animation-duration: 1000ms;
  margin: 73px 894px 46px 92px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 886px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 38px 786px 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 670px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-right: 566px;
    margin-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 80px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -19px;
    margin-right: 410px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-right: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 256px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 186px;
    margin-bottom: -2px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 824px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 73px 94px 0;
}

.u-section-2 .u-list-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 404px;
  grid-auto-columns: calc(33.3333% - 26.6667px);
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  grid-gap: 40px 40px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/Normal_Ayumi.png");
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/Taro_Normal.png");
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/Chibi_Bravo.png");
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-list-2 {
  width: 1136px;
  margin: -7px 0 60px auto;
}

.u-section-2 .u-repeater-2 {
  min-height: 85px;
  grid-auto-columns: calc(33.3333% - 22.6667px);
  grid-template-columns: calc(33.3333% - 22.6667px) calc(33.3333% - 22.6667px) calc(33.3333% - 22.6667px);
  grid-gap: 34px 34px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 333px;
    grid-auto-columns: calc(33.333333333333336% - 26.666700000000002px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
  }

  .u-section-2 .u-list-2 {
    width: 940px;
    margin-top: 396px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 70px;
    grid-auto-columns: calc(33.333333333333336% - 22.666700000000002px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22.666700000000002px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 222px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 765px;
    grid-auto-columns: calc(50% - 20.000025px);
    grid-template-columns: repeat(2, calc(50% - 20.000025px));
  }

  .u-section-2 .u-list-2 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 161px;
    grid-auto-columns: calc(50% - 17.000025px);
    grid-template-columns: repeat(2, calc(50% - 17.000025px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 20px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
    margin-top: 604px;
    margin-bottom: 4px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 57px;
    height: auto;
    min-height: 160px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 160px;
    grid-auto-columns: calc(33.3333% - 26.6667px);
    grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  }

  .u-section-2 .u-list-2 {
    margin-top: 0;
    margin-bottom: 60px;
    height: auto;
    min-height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(33.3333% - 22.6667px);
    grid-template-columns: calc(33.3333% - 22.6667px) calc(33.3333% - 22.6667px) calc(33.3333% - 22.6667px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1635px;
}

.u-section-3 .u-image-1 {
  width: 380px;
  height: 563px;
  margin: 33px auto 0 240px;
}

.u-section-3 .u-image-2 {
  width: 384px;
  height: 570px;
  margin: -567px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: -410px 80px 0 610px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 247px 603px 0 88px;
}

.u-section-3 .u-image-3 {
  width: 380px;
  height: 563px;
  margin: -369px auto 0 521px;
}

.u-section-3 .u-image-4 {
  width: 377px;
  height: 560px;
  margin: -563px auto 0 763px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 127px 80px 0 610px;
}

.u-section-3 .u-image-5 {
  width: 380px;
  height: 582px;
  margin: -403px auto 0 240px;
}

.u-section-3 .u-image-6 {
  width: 382px;
  height: 526px;
  margin: -554px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1582px;
  }

  .u-section-3 .u-image-1 {
    height: 564px;
    margin-top: 0;
    margin-left: 199px;
  }

  .u-section-3 .u-image-2 {
    margin-left: -50px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 533px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 244px;
    margin-right: 516px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 564px;
    margin-top: -391px;
    margin-left: 371px;
  }

  .u-section-3 .u-image-4 {
    height: 559px;
    margin-top: -565px;
    margin-left: 613px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 114px;
    margin-right: 0;
    margin-left: 533px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 188px;
  }

  .u-section-3 .u-image-6 {
    width: 359px;
    height: 569px;
    margin-top: -576px;
    margin-bottom: 4px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2211px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 295px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 46px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -16px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 542px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -733px;
    margin-left: 51px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 292px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 743px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -726px;
    margin-left: 285px;
  }

  .u-section-3 .u-image-6 {
    margin-bottom: 60px;
    margin-left: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2077px;
  }

  .u-section-3 .u-image-1 {
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-left: -50px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -35px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 533px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -687px;
    margin-left: -50px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -561px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 656px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    margin-top: -701px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-3 .u-image-6 {
    margin-top: -575px;
    margin-left: -37px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1704px;
  }

  .u-section-3 .u-image-1 {
    width: 227px;
    height: 338px;
    margin-top: 30px;
    margin-left: 138px;
  }

  .u-section-3 .u-image-2 {
    height: 338px;
    width: 227px;
    margin-top: -338px;
    margin-right: 138px;
    margin-left: -25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 382px;
  }

  .u-section-3 .u-image-3 {
    width: 225px;
    height: 334px;
    margin-top: -505px;
    margin-left: 139px;
  }

  .u-section-3 .u-image-4 {
    width: 226px;
    height: 335px;
    margin-top: -333px;
    margin-left: -24px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 562px;
  }

  .u-section-3 .u-image-5 {
    height: 366px;
    width: 239px;
    margin-top: -529px;
    margin-left: 127px;
  }

  .u-section-3 .u-image-6 {
    width: 220px;
    height: 349px;
    margin-top: -357px;
    margin-bottom: 201px;
    margin-left: -26px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2462px;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  margin: 40px 94px 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 166px;
  object-position: 50% 32.76%;
  margin: -20px auto 0;
}

.u-section-4 .u-image-2 {
  width: 570px;
  height: 171px;
  object-position: 50% 33.04%;
  margin: -27px auto 0 42px;
}

.u-section-4 .u-image-3 {
  width: 570px;
  height: 202px;
  margin: -163px auto 0 570px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: -32px 94px 0;
}

.u-section-4 .u-image-4 {
  width: 290px;
  height: 290px;
  margin: 20px auto 0 200px;
}

.u-section-4 .u-image-5 {
  width: 380px;
  height: 294px;
  margin: -290px auto 0 617px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 46px 94px 0;
}

.u-section-4 .u-image-6 {
  width: 443px;
  height: 626px;
  margin: 32px auto 0 94px;
}

.u-section-4 .u-image-7 {
  width: 443px;
  height: 626px;
  margin: -626px auto 0 603px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 94px 97px 0 91px;
}

.u-section-4 .u-image-8 {
  width: 471px;
  height: 393px;
  margin: 36px auto 0 91px;
}

.u-section-4 .u-image-9 {
  width: 429px;
  height: 450px;
  margin: -421px auto 0 620px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 2.3125rem;
  line-height: 1.2;
  width: 613px;
  margin: 98px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2484px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-right: 164px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 403px;
    margin-left: -33px;
  }

  .u-section-4 .u-image-3 {
    margin-right: -100px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    margin-left: 91px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -280px;
    margin-right: 71px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    margin-top: 45px;
    margin-left: 0;
  }

  .u-section-4 .u-image-7 {
    margin-left: 497px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 84px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-8 {
    margin-left: 0;
  }

  .u-section-4 .u-image-9 {
    margin-top: -422px;
    margin-left: 511px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 108px;
    margin-bottom: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2332px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -27px;
    margin-right: auto;
    margin-left: 91px;
  }

  .u-section-4 .u-image-2 {
    width: 443px;
    height: 133px;
    margin-top: -20px;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    width: 460px;
    height: 163px;
    margin-top: -127px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 32px;
    margin-left: 28px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -294px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 45px;
  }

  .u-section-4 .u-image-6 {
    width: 346px;
    height: 489px;
    margin-top: 29px;
  }

  .u-section-4 .u-image-7 {
    width: 347px;
    height: 490px;
    margin-top: -490px;
    margin-left: 373px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 70px;
  }

  .u-section-4 .u-image-8 {
    width: 330px;
    height: 275px;
    margin-top: 62px;
  }

  .u-section-4 .u-image-9 {
    width: 343px;
    height: 360px;
    margin-top: -317px;
    margin-left: 350px;
  }

  .u-section-4 .u-text-5 {
    margin: 83px 54px 41px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3371px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-1 {
    height: 157px;
    margin-top: -24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -39px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    height: 192px;
    margin-top: -41px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -52px;
  }

  .u-section-4 .u-image-4 {
    margin-left: auto;
  }

  .u-section-4 .u-image-5 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-6 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-image-7 {
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 68px;
  }

  .u-section-4 .u-image-8 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-4 .u-image-9 {
    margin-top: 53px;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin: 20px 0 14px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3370px;
  }

  .u-section-4 .u-image-1 {
    height: 99px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 102px;
    margin-top: -10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 121px;
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 108px;
  }

  .u-section-4 .u-image-4 {
    width: 223px;
    height: 223px;
    margin-top: 27px;
  }

  .u-section-4 .u-image-5 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-4 .u-image-6 {
    height: 480px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-7 {
    height: 480px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 41px;
  }

  .u-section-4 .u-image-8 {
    margin-top: 27px;
  }

  .u-section-4 .u-image-9 {
    height: 357px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 67px;
    margin-bottom: 41px;
  }
}